/* -- Importaciones -- */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("./scrollbar.css");
@import url("./inputs.css");
@import url("./grid-system.css");
@import url("./nav-bar.css");
@import url("./filter-items.css");
@import url("./footer.css");
@import url("./theme.css");
@import url("./modal.css");
/* @import url("./update-style.css"); */


/* -- Reset styles -- */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

html {
    scroll-behavior: smooth;
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

body {
    color: rgba(72, 72, 72, 0.8);
    /* width: 100vw; */
    max-width: 100vw;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
    background-color: #eeeeee;
    box-sizing: border-box;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.content {
    margin: auto;
    width: 80%;
}

.body {
    margin-top: 30px;
}

.body-content {
    margin-top: 50px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.text-list {
    padding-left: 40px;
}

/* SHADOW STYLES */

.shadow {
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
}

/* END SHADOW STYLES */

/* COLOR TEXT */

.color-blue-primary {
    color: var(--color-blue-primary) !important;
}

.color-blue-secondary {
    color: var(--color-blue-secondary) !important;
}

.color-blue-tertiary {
    color: var(--color-blue-tertiary) !important;
}

.color-yellow-primary {
    color: var(--color-yellow-primary) !important;
}

.color-yellow-secondary {
    color: #fed13a !important;
}

.color-yellow-tertiary {
    color: #ffdf4f !important;
}

/* FIN COLOR TEXT */

/* BACKGROUNDS STYLE */

.bg-white {
    background-color: white;
}

.bg-blue-primary {
    background-color: var(--color-blue-primary);
}

.bg-blue-secondary {
    background-color: var(--color-blue-secondary);
}

.bg-blue-tertiary {
    background-color: var(--color-blue-tertiary);
}

.bg-yellow-primary {
    background-color: var(--color-yellow-primary);
}

.bg-yellow-secondary {
    background-color: var(--color-yellow-secondary);
}

.bg-yellow-tertiary {
    background-color: var(--color-yellow-tertiary);
}

.content-bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 150px;
}

/* FIN BACKGROUNDS COLOR */

/* BORDER RADIUS STYLES */

.border-rounded-sm {
    border-radius: 8px;
    overflow: hidden;
}

.border-rounded-md {
    border-radius: 15px;
    overflow: hidden;
}

.border-rounded-lg {
    border-radius: 25px;
    overflow: hidden;
}

/* FIN BORDER STYLES */

/* HEADER STYLE */

header {
    padding: 15px;
    position: relative;
    background-color: var(--color-blue-primary);
    width: 100%;
    height: auto;
    box-shadow: 0px 7px 8px 4px rgba(0, 0, 0, 0.1);
}

header div {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    align-items: center;
}

header div>a {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    align-items: center;
}

header>div>div {
    display: flex;
    width: 50%;
    max-height: 100%;
}

header div div img {
    width: auto;
    max-height: 80px;
}

header .header-secondary-logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: left;
    width: 70%;
    transform: translateY(-15px);
}

header .header-secondary-logo>a {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: left;
    width: 100%;
}

header .header-secondary-logo img {
    margin-right: 20px;
    transform: scale(1.2);
}

header .header-logo {
    justify-content: right;
    width: 30%;
}

/* INPUT SEARCH */

.search {
    background-color: rgba(255, 255, 255, 0.1);
    height: 50px;
    border-radius: 50px;
    position: relative;
    /* padding: 10px; */
    /* margin-top: 100px; */
}

.search:hover>.txt {
    color: rgba(0, 0, 0, 0.5);
    width: 240px;
    padding: 6px 16px;
    top: 50px;
}

.search:hover>.btn {
    /* background-color: white; */
    color: rgba(0, 0, 0, 0.5);
    margin-top: -1px;
}

.search:focus-within>.txt {
    color: rgba(0, 0, 0, 0.5);
    width: 240px;
    padding: 6px 16px;
    top: 50px;
}

.search:focus-within>.btn {
    /*  background-color: white; */
    margin-top: -1px;
    color: rgba(0, 0, 0, 0.5);
}

.search:hover>.search-options {
    display: flex;
    color: rgba(0, 0, 0, 0.5);
}

.search:focus-within>.search-options {
    display: flex;
    color: rgba(0, 0, 0, 0.5);
}

.search:hover{
    background-color: white;
    margin-top: -1px;
}

.search:focus-within {
     background-color: white;
    margin-top: -1px;
}

.btn {
    color: white;
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: #2f3640; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;

}

.btn .span {
    font-size: 10px !important;
}

.txt {
    border: none;
    background-color: transparent;
    outline: none;
    float: left;
    padding: 0;
    color: transparent;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0;
}

.search .search-options {
    border-radius: 8px;
    position: absolute;
    display: none;
    overflow: hidden;
    top: 50px;
    z-index: 9;
}

.search .search-options>a {
    background-color: white;
    padding: 15px;
    width: 100%;
    text-decoration: none;
}

/* INPUT SEARCH */

.stripe {
    background-color: var(--color-blue-primary);
    width: 100%;
    padding-top: 10px;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
}

.stripe>.content {
    display: flex;
}

.stripe ul {
    font-weight: bold;
    width: 100%;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: right;
}

.stripe ul li {
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid white;
}

.stripe ul li:first-child {
    border: 0px;
}

.stripe ul li a {
    color: white;
    text-decoration: none;
}

/* BREADCRUMBS */

.breadcrumb-container {
    background-color: transparent;
    padding-left: 0px !important;
    width: 100% !important;
    margin-left: -8px;
}

.breadcrumb-container .breadcrumb {
    grid-gap: 5px;
    display: flex;
    text-decoration: none;
    list-style: none;
}

.breadcrumb a {
    cursor: pointer;
    color: var(--color-blue-tertiary);
    font-weight: bolder;
    text-decoration: none;
}

.breadcrumb li.active {
    color: var(--color-blue-tertiary);
    font-weight: bolder;
    text-decoration: none !important;
}

.breadcrumb li:hover {
    text-decoration: underline;
}

.breadcrumb li::before {
    content: "/";
    margin-right: 8px;
}

.breadcrumb li:first-child::before {
    content: "";
    margin-right: 8px;

}

/* BANNER STYLE */

.banner-head {
    width: 100%;
    min-height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* filter: blur(3px); */
    /* background-color: var(--color-yellow-primary); */
    background-blend-mode: multiply;
}

.banner-head .title-banner-head {
    padding-top: 120px;
    padding-bottom: 120px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-align: center;
}

/* SECTIONS STYLE */

.section {
    /* border-radius: 20px; */
    padding: 20px;
    width: 100%;
}

.subsection {
    margin-bottom: 15px;
}

.title-section {
    font-weight: 900;
    color: var(--color-yellow-primary);
    margin-bottom: 20px;
}

.title-subsection {
    font-weight: 900;
    color: var(--color-blue-secondary);
    margin-bottom: 20px;
}

.section>img {
    border-radius: 8px;
}

.img-link>img {
    border-radius: 8px;
}

.img-link {
    position: relative;
    margin-bottom: -25px;
}

.img-link>a {
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
}

.img-link>a>button {
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 50%);
    font-weight: bolder;
    padding: 15px 20px;
    border: 0;
}

.img-link>a>button.btn-icon {
    color: white;
    cursor: pointer;
    background-color: rgb(54, 148, 0);
    border-radius: 28px;
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 50%);
    font-weight: bolder;
    padding: 0px;
    width: 60px;
    height: 60px;
    border: 0;
}

.img-link>a>button.btn-icon-excel {
    color: white;
    cursor: pointer;
    background-color: rgb(54, 148, 0);
    border-radius: 28px;
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 50%);
    font-weight: bolder;
    padding: 0px;
    width: 40px;
    height: 40px;
    border: 0;
}

.img-link>a>button.btn-icon>img {
    width: 50%;
}

/* END SECTIONS STYLE */


/* APPLICATIONS STYLE */

.application-container {
    background-color: var(--color-blue-primary);
    position: relative;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.application-container a {
    bottom: 0px;
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    display: none;
    margin: auto;
    padding: 8px;
    position: absolute;
}

.application-container a span {
    font-size: 10px;
}

.application {
    background-color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.application-container:hover .application {
    cursor: pointer;
    /* transform: translate3d(0, -35px, 0); */
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 50%);
    z-index: 9;
}

.application-container:hover>a {
    display: block;
    font-weight: bold;
}

.application {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    padding: 10px;
    /* padding-bottom: 20px; */
    font-weight: bold;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 50%);
}

.application {
    font-size: 1rem;
}

.application .icon-container {
    align-items: center;
    background-color: var(--color-yellow-secondary);
    border-radius: 50%;
    color: var(--color-blue-primary);
    display: flex;
    height: 3rem;
    justify-content: center;
    margin-bottom: 10px;
    /* margin-top: -80px; */
    width: 3rem;
}

.application .icon-container span {

    font-size: 1.5rem;
}

.application .icon-container img {
    width: 50%;
}

/* END APPLICATIONS STYLE */

/* CONTENT BLOCS */

.title-content {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 5px;
    margin-bottom: 20px;
    width: 100%;
}

.title-content .icon-title span {
    font-size: 3rem;
    color: var(--color-yellow-primary);
}

.title-content .text-title h1 {
    color: var(--color-blue-primary);
    font-weight: unset;
}

.title-content .text-title h2 {
    color: var(--color-blue-primary);
    font-weight: unset;
}

.title-content .text-title h3 {
    color: var(--color-blue-primary);
    font-weight: unset;
}


/* BTN SLIDER */

.btn-slide {
    position: relative;
    color: var(--color-blue-primary);
    cursor: pointer;
    font-weight: bold;
    padding: 20px 15px;
    background-color: var(--color-yellow-secondary);
    border: 0;
    border-radius: 28px;
    width: 100%;
}

.btn-slide::after{
    content:attr()
}


/* NOTICE */

.notice-container {
    width: 100%;
}

.notice-container .date-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.notice-container .date-container .date {
    padding: 10px;
    background-color: var(--color-blue-secondary);
    color: white;
    font-weight: bold;
    max-width: 70px;
}

.notice-container .info-container {
    width: 100%;
    padding: 10px;
}

.notice-container .info-container>.title {
    color: var(--color-blue-secondary);
    ;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
}

.notice-container .info-container>.text {
    /* font-weight: lighter; */
    width: 100%;
}


/* FLOAT MESSAGE */

.content-float-message {
    border-radius: 12px;
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 30%);
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
}

.content-float-message>.text {
    width: 100%;
}


/* TEXT ALIGN */

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


/* TARGETS */


.target-tooltip{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
    cursor: pointer;
    position: absolute;
    top: 100%;
    left: 20%;
    transform: translate(-50%, -7px);
    width: 250px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 99;
}

.tooltip-container:focus .target-tooltip{
    left: 50%;
    visibility: inherit;
    opacity: 1;
}

.tooltip-container:focus-within .target-tooltip{
    left: 50%;
    visibility: inherit;
    opacity: 1;
}

.target-tooltip > img{
    width: 100%;
    aspect-ratio: 2/1;
}

.target-tooltip > div{
    background-color: #8ed8f8;
    color: var(--color-blue-tertiary);
    margin-top: -5px;
    padding: 10px;
    text-align: left;
}

.target-tooltip > div > p{
    margin-top: 10px;
    white-space: initial;
}

.target-tooltip > div > a > div{
    color: white;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    background-color: var(--color-blue-tertiary);
}

.target-tooltip > div > a > div > span{
    font-size: 0.8rem;
    margin-left: 10px
}

.target-tooltip > div > a > div:hover{
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
    font-weight: bold;
}

.target-stadistic {

}

.target-stadistic > div > img{
    width: 100%;
    aspect-ratio: 2/1;
    /* object-fit: cover; */
}

.target-stadistic .title-subsection{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.simple-target {
    background-color: var(--color-yellow-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    text-align: center;
    padding: 40px 40px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    /* aspect-ratio: 3/2; */
}

.simple-target:hover {
    background-color: var(--color-blue-primary);
    color: white;
}

.target-btn {
    cursor: pointer;
}


/* ACCORDION */

.accordion {
    list-style: none;
    width: 100%;
}

.accordion>li {
    background-color: rgb(100, 100, 100);
    width: 100%;
}

.accordion>li>div {
    color: white;
    font-weight: bolder;
    padding: 15px;
}

.accordion>li>.sub-menu {
    background-color: white;
    list-style: none;
    width: 100%;
}

.accordion>li>.sub-menu>li {
    /* cursor: pointer; */
    padding: 15px;
    width: 100%;
}

.accordion>li>.sub-menu>li:hover {
    font-weight: bolder;
}


/* INDEX TITLE */

@media (max-width: 1600px) {
    .btn-mapa-energetico{
        max-width: 120px;
        text-align: left;
    }
}

@media (max-width: 1400px) {
    .title-index{
        font-size: 1.5rem !important;
    }

    .title-index-full{
        font-size: 1.7rem !important;
    }

    .btn-mapa-energetico{
        padding: 10px !important;
        font-size: 12px;
        max-width: 120px;
        text-align: left;
    }

    /* SIMPLE TARGET */
    
    .content-simple-target{
        padding: 20px !important;
    }
    .simple-target{
        padding: 10px;
    }


    /* APPLICATTION */

    .application .icon-container {
        height: 2.5rem;
        margin-bottom: 10px;
        /* margin-top: -80px; */
        width: 2.5rem;
    }
    .application {
        font-size: 0.8rem;
    }
}

@media (max-width: 1024px) {
    .title-index-full{
        display: none !important;
    }
    .btn-mapa-energetico{
        padding: 10px !important;
        font-size: 10px;
    }
    .content {
        width: 90%;
    }
}


@media (min-width: 1024px) {
    .title-index{
        display: none !important;
    }
}

@media (min-width: 1400px) {
    .btn-mapa-energetico{
        padding: 10px !important;
        font-size: 13px;
    }
}

@media (min-width: 1600px) {
    .title-index{
        display: none !important;
    }

    .simple-target{
        aspect-ratio: 1.5/1;
    }
}

.m-5 {
    margin-top: 25px;
}
/* FIN INDEX TITLE */